/*
body {
	background: white;
	font-family: verdana, sans-serif;
	font-size: 9pt;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
 */
.hits table {
	background-color: white;
	font-size: 9pt;
}

.hits tr {
	border-width: 0px;
}

.hits td {
	vertical-align: top;
	font-size: 10pt;
	border-width: 0px;
	border-top-width: 1px;
	border-style: solid;
	border-color: #888;
}

.hits td:hover {
	cursor:pointer;
}

.alignment td {
	border-top-width: 0px;
}

.alignment td:hover {
	cursor:default;
}

.hits th {
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	text-align: left;
	text-decoration: none;
}

td.query :hover {
	cursor: pointer;
}

.hits ul {
	list-style-image: none;
	list-style-type: none;
	margin-left: 0px;
	padding-left: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
}

li .first {
	margin: 1px;
}

li:hover .first {
	text-decoration: underline;
	cursor: pointer;
}

pre {
	margin-left: 10px;
	font-family: "Andale Mono",courier,fixed;
	font-size: 11px;
}

/* Style sheet for BioASP application wrappers */

body {
	background: white;
	font-family: verdana, sans-serif;
	font-size: 10pt;
}

a {
/*	color: black;*/
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

a:active {
	color: #f2ab41;
}
a.plaatje:link {
	color: white
}
a.plaatje:visited {
	color: white
}

table.box {
	margin: 0px;
	margin-bottom: 4px;
	border-color:#ddd;
	border-style: solid;
	border-width: 1px;
	padding: 0px
}
.box td {
	padding: 5px;
}
td.heading {
	margin-color: #ddd;
	border-color: #ddd;
	background-color: #ddd;
	font-weight:bold;
	text-align: center;
	padding: 3px;
	margin: 0px;
	border-width: 0px;
}

pre {
	font-family: courier new, monospace;
	font-size: 10pt;
}

pre a {
	color: blue;
	text-decoration: underline;
}

/* The menu on the left side */

table.menu {
	background-color: #ddd;
	border-color: #ddd;
	text-align: center;
	border-width: 0px;
}
.menu td {
	border-width: 0px;
	padding: 0;
}
.menu a {
	background-color: #aaa;
	display: block;
	width: 100%;
}
.menu a:hover {
	background-color: #666;
	color: #f2ab41;
}
td.menu_button_selected {
	background: white;
}

/* The submit buttons */

.submit {
	font-family: Verdana, sans-serif;
	font-weight: bold;
	text-align: center;
	background-color: #aaa;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin: 1px;
	display: block;
	width: 100%;
	font-size: 10pt;
}

.submit:hover {
	background-color: #666;
	color: #f2ab41;
}

.submit2 {
	font-family: Verdana, sans-serif;
	font-weight: bold;
	text-align: center;
	background-color: #aac;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin: 1px;
	font-size: 10pt;
}

.submit2:hover {
	background-color: #88a;
}

/*
	This interface uses tabs
 */

.tabs ul {
	clear: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: inline;
}

.tabs li {
	border-width: 1px;
	border-style: solid;
	border-color: #888;
	display: inline;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 1px;
	margin-right: 4px;
	font-size: 10pt;
}

.tabs li.selected {
	background-color: #888;
	color: white;
}

.tabs li.unselected {
	background-color: #eee;
}

.tabs li.unselected:hover {
	background-color: #ddd;
	text-decoration: underline;
	cursor: pointer;
}

.box {
	padding-top: 1px;
	margin-top: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: #888;
}

.box ul {
	list-style-type: none;
	margin: 10px;
	padding: 0px;
}

.box li {
	padding: 2px;
}

.tree ul {
	margin: 0px;
	padding: 0px;
}

.tree li {
	margin: 0px;
	padding: 0px;
}

/* New DHTML based option boxes: */

.box2 {
	border-width: 1px;
	border-style: solid;
	border-color: #f93;
	padding: 0px;
	margin-bottom: 3px;
	overflow: visible;
}

.box2 h2 {
	background-image: url("ico_cs_bioasp.gif");
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 3px;
	padding-bottom: 2px;
	font-weight: normal;
	font-size: 9pt;
	text-align: center;
	color: white;
	display: block;
	background-color: #f93;
	width: 100%;
}

.expandable {
	cursor: pointer;
}

.expandable:hover {
	text-decoration: underline;
}

.box2 ul {
	background-color: white;
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 5px;
}

.box2 li {
	font-weight: normal;
	text-align: left;
	padding-top: 3px;
	padding-bottom: 3px;
}

/* New style menu */

#side {
	position: absolute;
	left: 0;
	top: 0;
	width: 110px;
	background: #888;
	padding: 5px;
	height: 100%;
}

#side img {
	margin-bottom: 30px;
}

#login {
	background: #cce;
}

#login ul {
	padding: 0px;
	margin: 10px;
}

#login li {
	list-style-type: none;
	padding: 0px;
	margin: 1px;
	line-height: 125%;
}


#main {
	margin-left: 120px;
}

#menu2 {
	padding: 1px;
	border: 1px;
	background-color: #666;
	color: white;
	margin-bottom: 40px;
	font-size: 9pt;
	text-align: center;
}

#menu2 h3 {
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	font-size: 8pt;
	display: block;
	cursor: pointer;
	width: 100%;
}

#menu2 ul {
	padding: 0px;
	margin: 0px;
}

#menu2 li {
	list-style-type: none;
	padding: 0px;
	margin: 1px;
	line-height: 125%;
}

#menu2 li.separator {
	font-size: 8pt;
}

#menu2 .current {
	color: black;
	background-color: #ddd;
}

#menu2 a {
	color: black;
	background-color: white;
	display: block;
	width: 100%;
}

#menu2 a:hover {
	background-color: #aaa;
}

.menu2Head :hover {
	text-decoration: underline;
}

#bionext a {
	color: blue;
	text-decoration: underline;
}

.list table {
	padding: 0px;
	margin: 0px;
	vertical-align: top;
}

.list td {
	padding: 2px;
	padding-left: 4px;
	margin: 0px;
	border-width: 0px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: #888;
	vertical-align: top;
}

.list_item :hover {
	background-color: #ddd;
	cursor: pointer;
}

.list th {
	background-color: #aaa;
	color: white;
	text-align: left;
	text-decoration: none;
	font-weight:normal;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-width: 0px;
	border-left-width: 1px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: #888;
}

.red {
	color: #a00;
}

/* navigation bar on top */

#nav {
	background-color: #ddd;
	display: block;
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
}

#nav .submit {
	font-family: Verdana, sans-serif;
	font-weight: bold;
	text-align: center;
	background-color: #888;
	color: white;
	border: solid 1px #000000;
	margin: 1px;
	font-size: 10pt;
}

#nav .submit:hover {
	background-color: #777;
	color: white;
}

#nav ul {
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 1px;
}

#nav li {
	white-space: nowrap;
	display: inline;
	margin: 3px;
}

#nav li.enabled {
	border-width: 1px;
	border-style: solid;
	border-color: #bbd;
	font-weight: bold;
	padding: 1px;
	background-color: #ccc;
}

#nav li.disabled {
	border-width: 1px;
	border-style: solid;
	border-color: #bbb;
	font-weight: bold;
	padding: 1px;
	background-color: #ccc;
	color: #666;
}

#nav a {
	color: black;
	text-decoration: none;
}

#nav a:hover {
	text-decoration: underline;
}


.hits table {
	background-color: white;
	font-size: 9pt;
}

.hits tr {
	border-width: 0px;
}

.hits td {
	vertical-align: top;
	font-size: 10pt;
	border-width: 0px;
	border-top-width: 1px;
	border-style: solid;
	border-color: #888;
}

.hits td:hover {
	cursor:pointer;
}

.masked1 {
	text-decoration: line-through;
	color: #aaa;
}

.masked2 {
	color: #aaa;
}

.alignment td {
	border-top-width: 0px;
}

.alignment td:hover {
	cursor:default;
}

.hits th {
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	text-align: left;
	text-decoration: none;
}

td.query :hover {
	cursor: pointer;
}

.hits ul {
	list-style-image: none;
	list-style-type: none;
	margin-left: 0px;
	padding-left: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
}

li .first {
	margin: 1px;
}

li:hover .first {
	text-decoration: underline;
	cursor: pointer;
}

pre {
	margin-left: 10px;
	font-family: "Andale Mono",courier,fixed;
	font-size: 11px;
}

.params {
}

.params table {
	padding: 0px;
	margin: 0px;
	width: 100%;
	vertical-align: top;
	border: 1px solid #88a;
}

.params td {
	padding: 2px;
	padding-left: 4px;
	margin: 0px;
	border-width: 0px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: #888;
	vertical-align: top;
}

.params th {
	background-color: #88a;
	color: white;
	text-align: left;
	text-decoration: none;
	font-weight:normal;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-width: 0px;
	border-left-width: 1px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: #888;
}

.params span {
	text-decoration: underline;
	cursor: pointer;
}

.params span:hover {
	background-color: #cce;
}